.label {
    -fx-background-color: linear-gradient(to bottom right, #7862af, #495cc0);
    -fx-border-color: #2c254f;
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
}

.reply-label {
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
}

.info-label {
    -fx-background-color: linear-gradient(to bottom right, #2563eb, #1d4ed8);
    -fx-border-color: #1e3a8a;
}

.success-label {
    -fx-background-color: linear-gradient(to bottom right, #15803d, #166534);
    -fx-border-color: #14532d;
}

.error-label {
    -fx-background-color: linear-gradient(to bottom right, #dc2626, #b91c1c);
    -fx-border-color: #7f1d1d;
}

#displayPicture {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-rotate: 0;
}

.add-label {
    -fx-background-color: yellow;
}

.marked-label {
    -fx-background-color: palegreen;
}

.delete-label {
    -fx-background-color: lightpink;
}
